<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="/RATS">Home</a></li>
    <li class="active"><a href="/RATS/about/">About</a></li>
    <li><a href="/RATS/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Rats</h3>
  <ul class="nav nav-pills pull-right">
    <li {% if currentpage == bulletdetection %}class="active-sm"{% endif %}><a class="btn-sm noIbar">Bullet Detection</a></li>
    <li><a class="btn-sm" href="/RATS/details/chrono">Chrono</a></li>
    <li><a class="btn-sm" href="/RATS/details/multiplayer">Multi Player</a></li>
    <li><a class="btn-sm" href="/RATS/details/scoring">Scoring</a></li>
    <li><a class="btn-sm" href="/RATS/details/targetadvance">Target Advance</a></li>
    <li><a class="btn-sm" href="/RATS/details/wireless">Wireless</a></li>
  </ul>
</div>
