<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="/RATS">Home</a></li>
    <li class="active"><a href="/RATS/about/">About</a></li>
    <li><a href="/RATS/contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">Rats</h3>

<!--<li class="active noIbar">Wireless</li>-->

  <ol class="breadcrumb">
    {% if include.currentpage == "bulletdetection" %}
      <li class="active noIbar btn-sm">Bullet Detection</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/bulletdetection">Bullet Detection</a></li>
    {% endif %}
    {% if include.currentpage == "chrono" %}
      <li class="active noIbar btn-sm">Chrono</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/chrono">Chrono</a></li>
    {% endif %}
    {% if include.currentpage == "multiplayer" %}
      <li class="active noIbar btn-sm">Multi Player</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/multiplayer">Multi Player</a></li>
    {% endif %}
    {% if include.currentpage == "scoring" %}
      <li class="active noIbar btn-sm">Scoring</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/scoring">Scoring</a></li>
    {% endif %}
    {% if include.currentpage == "targetadvance" %}
      <li class="active noIbar btn-sm">Target Advance</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/targetadvance">Target Advance</a></li>
    {% endif %}
    {% if include.currentpage == "wireless" %}
      <li class="active noIbar btn-sm">Wireless</li>
    {% else %}
      <li class="btn-sm"><a href="/RATS/details/wireless">Wireless</a></li>
    {% endif %}
  </ol>
</div>
