<!DOCTYPE html>
<html>
<head>
  <!-- <title> {% if page.title %} {{ page.title }} | {% endif %} John Doe, Photographer </title> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="petergsimon">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Rats</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jumbotron-narrow.css">

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
       var pageTracker = _gat._getTracker("UA-48199519-1");
       pageTracker._trackPageview();
      } catch(err) {}
    </script>

</head>
<body>
 <div class="container">
      {{ content }}
      {% include footer.html %}
</div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
